.banner-container {
    overflow: hidden;
    position: relative;
    padding-bottom: 100px;
}
.bg {
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
.banner {
    position: relative;
}
.banner span {
    background-color: #3F90FC;
    color: #fff;
    padding-left: 15px;
    cursor: pointer;
}